<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form th:action="@{/user/resetPassword}" method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label">이메일</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <button type="submit" class="btn btn-primary">임시 비밀번호 발급</button>
                </form>
            </div>
        </div>
    </div>
</div>
</html>